head {
	text-decoration: none;
}

body {
	text-align: center;
	text-decoration: none;
	margin: 0;
}
header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
	margin: 0;
}
nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0px;
}
a:hover {
	border-color: white;
}
main {
	width: 850px;
	margin: 35px auto;
}
img {
	margin: 40px 8px 0px;
}
h1 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: capitalize;
}
a {
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
	margin: 0px 20px;
	border-bottom: 2px solid transparent;
}	
h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: capitalize;
}
h3 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: capitalize;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;

}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
footer {
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0D2C40;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: "Raleway", serif;
	float: left;
}
.message {
	font-family: "Raleway", serif;
	float: right;
}
.name {
	color: #F15B31;
	font-weight: 700;


}
